doctype html
html
	head
		title Kiekjes
		link(rel="stylesheet", href=`${pathPrefix}/style.css`)
		script(defer, src=`${pathPrefix}/script.js`)
		block meta
	body
		.grid
			.header
				a.logo(href=`${pathPrefix}/`): img(src=`${pathPrefix}/images/logo.png`)
				h1: a(href=`${pathPrefix}/`) Kiekjes

			.contents
				block contents
